* {
  margin: 0;
  padding: 0;
}

.App {
  padding: 0;
  margin: 0;
  border-radius: 100px;
  text-align: -webkit-right;
  font-weight: bold;
  height: 100vh;
  background-position: left;
  text-transform: capitalize;
  word-spacing: 20px;
  letter-spacing: 2px;
  line-height: 20px;
}

.VideoList {
  color: coral;
}

h2 {
  color: blueviolet;
  margin: 20px 20px 20px 50px;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
  'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif
}

button {
  color: brown;
}

.App {
  background-image: url("https://kidpassage.com/images/publications/images/dubay-aprele-otdyh-pogoda-photo1.jpg");
  background-repeat: no-repeat;
  background-position: left;
  position: relative;

}




